<div [ngClass]="bgStyle" class="block">

  <img *ngIf="hand?.iconUrl || false" alt="Hand Icon" class="inline block mt-1 h-8 ml-2" src="{{hand?.iconUrl ?? ''}}" [ngClass]="iconSize" />
  <h3 *ngIf="showTitle"
    class="align-middle text-gray-200  mt-6 mb-2  mr-1 p-2" [ngClass]="titleSize">
    {{hand?.handTitle}} :
    <i *ngIf="hand?.imageUrl" class="fas fa-image ml-2" (click)="showHandImage(hand)"></i>
  </h3>
  <ul class=" inline-block ">
    <li *ngFor="let card of hand?.cards" class=" p-2 m-1 " [ngClass]="cardStyle">
      <div [ngClass]="getCardTextStyle(card)">
        <i *ngIf="cardTagIs(card, 'NPC')" class="fas fa-universal-access mr-1"></i>
        <img alt="{{card?.cardIcon}}" *ngIf="card.cardIcon || false" class="inline block mx-1  " src="{{card?.cardIcon ?? ''}}" [ngClass]="iconSize"  />
        <span [ngClass]="getCardTextStyle(card)" matTooltip="{{card.description}}" >{{card.cardTitle}}</span>
        <span *ngIf="card.currentValue" class="bg-gray-700 rounded-lg text-white mx-2 p-1" >{{card.currentValue}}</span>
<!--        <i *ngIf="card.description" class="fas fa-info mx-2 px-1" matTooltip="{{card.description}}"></i>-->
        <i *ngIf="card.faceImage" class="fas fa-image ml-2" (click)="showFaceImage(card)" matTooltip="click to show image"></i>
        <i *ngIf="card.dieRoll" class="ml-2 fas fa-dice float-right" (click)="rollDice(card)" matTooltip="click to roll {{card.dieRoll}}"></i>
        <i *ngIf="card.cardType === 'frangible'" class="ml-2 fas fa-hand-pointer float-right" (click)="takeAction(card)" matTooltip="click to spend"></i>
      </div>
    </li>
  </ul>
</div>
