<cf-navbar></cf-navbar>
<main class="h-screen w-full" style="background-color: rgba(0, 0, 0, 0.8)">
  <section *ngIf="game$ | async as game; else no_game" class="pt-16 pb-32">
    <!-- <h1 class="text-white font-semibold text-2xl mb-6">Home Page</h1> -->

    <!-- Game & Session -->
    <div class="flex flex-row flex-wrap" style="background-color: rgba(0, 0, 0, 0.3)">
      <!-- game -->
      <div class="w-full md:w-1/2  pr-4 ">
        <div class="float-left" (click)="showGameFull = !showGameFull">
          <i class="fas text-gray-500" [ngClass]="showGameFull ? 'fa-chevron-circle-up' : 'fa-chevron-circle-down'"
             matTooltip="{{showGameFull ? 'Collapse' : 'Expand'}}"> </i>

        </div>
        <app-area-title [titleText]="game.gameTitle" [iconUrl]="game?.iconUrl"></app-area-title>
        <div *ngIf="showGameFull">
          <span class="block text-gray-200 ml-8 mt-2"> Hours played: {{game.hoursPlayed}}</span>
          <div *ngFor="let hand of game.gameArea?.hands" class="w-full">
            <app-hand-blocks [hand]="hand"></app-hand-blocks>
          </div>
        </div>
      </div>
      <!-- session -->
      <div class="md:w-1/2 w-full ">
        <ng-container *ngIf="game?.currentSession; else no_session">
          <h2 class="align-middle text-gray-300 font-semibold text-xl mt-3 mb-2 ml-2">
            <em class="text-lg text-purple-400"
                matTooltip="Session {{game.currentSession?.sessionNumber}}"> {{game.currentSession?.sessionTitle}} </em>
          </h2>
          <div *ngIf="showGameFull">
            <button class="text-sm m-1 p-1 bg-purple-300 text-gray-600 rounded-lg float-right"
                    (click)="createSessionHand(game.currentSession)">
              <i class="fas fa-plus"></i>
              Hand
            </button>
            <div *ngFor="let hand of game.currentSession?.hands" class="w-full">
              <app-hand-blocks [hand]="hand"></app-hand-blocks>
            </div>
          </div>
        </ng-container>
        <ng-template #no_session>
          <button>Start New Session</button>

        </ng-template>

      </div>
    </div>

    <!-- play-character / sidebar -->
    <div class="flex flex-row flex-wrap h-100">
      <!-- play -->
      <div class="lg:w-3/4 w-full ">
        <div class="flex flex-row flex-wrap ">
          <div *ngIf="game?.playArea" class="w-full bg-cover h-min-300 bg-opacity-25 "
               [ngStyle]="{'background-image': 'url(' + game?.imageUrl + ')'}">
            <h2 class="text-gray-200 ml-2" (click)="showPlayFull = !showPlayFull">
              <i class="fas text-gray-500 mr-2" [ngClass]="showPlayFull ? 'fa-chevron-circle-up' : 'fa-chevron-circle-down'"
                 matTooltip="{{showPlayFull ? 'Collapse' : 'Expand'}}"> </i>
              {{game.playArea?.areaTitle}}
            </h2>

            <div class="flex flex-row flex-wrap content-center" *ngIf="game.playArea?.hands && showPlayFull">
              <div *ngFor="let hand of game?.playArea?.hands ?? []  | handType: 'current'"
                   class="float-right flex flex-col xl:w-1/6 m:w-1/4 xs:w-full">
                <app-hand-blocks [hand]="hand" [titleSize]="' block text-lg bg-gray-700'"
                                 [bgStyle]="' bg-gray-800 bg-opacity-85'"
                                 [cardStyle]="'block bg-gray-800 text-white ml-4'"></app-hand-blocks>
              </div>
              <div *ngFor="let hand of game.playArea?.hands" class="flex flex-col xl:w-1/6 m:w-1/4 xs:w-full">
                <app-hand-blocks [hand]="hand" [titleSize]="' block text-xl bg-gray-700'"
                                 [bgStyle]="' bg-gray-800 bg-opacity-25'"
                                 [cardStyle]="'block bg-gray-800 text-white ml-4'"></app-hand-blocks>
              </div>

            </div>
          </div>
        </div>
        <!-- characters -->
        <div class="flex flex-row flex-wrap">
          <div class="w-full ">
            <div *ngFor="let character of game.characters">
              <div class="flex flex-row">
                <h4 class="text-white font-semibold mt-2 mx-1"
                    matTooltip="{{character.characterDescription}}"> {{character.characterName}}</h4>
                <div *ngFor="let hand of character.hands | handType: 'block'" class="flex flex-col m:w-1/2 xs:w-full">
                  <app-hand-blocks [hand]="hand" [showTitle]="false" [titleSize]="' '"
                  ></app-hand-blocks>
                </div>
                <div *ngFor="let hand of character.hands | handType: 'track'" class="flex flex-col m:w-1/2 xs:w-full">
                  <app-hand-track [hand]="hand"></app-hand-track>
                </div>
                <div *ngFor="let hand of character.hands | handType: 'dropdown'" class="flex-col  md:w-1/4 w-1/2">
                  <app-hand-dropdown [hand]="hand" [titleSize]="' block text-xl bg-gray-700'"
                                     [bgStyle]="' bg-gray-800 bg-opacity-50'"
                                     [cardStyle]="'block bg-gray-800 text-white ml-4'"></app-hand-dropdown>
                </div>
              </div>
              <div class="flex flex-row flex-wrap">
                <div *ngFor="let hand of character.hands| handType: 'grid'"
                     class="flex-col 2xl:w-1/12 xl:w-1/8 lg:w-1/6 md:w-1/4 w-1/2">
                  <app-hand-blocks [hand]="hand" [titleSize]="'w-full block text-xl bg-gray-700'"
                                   [bgStyle]="' bg-gray-800 bg-opacity-25'"
                                   [cardStyle]="'block bg-gray-800 text-white ml-4'"></app-hand-blocks>
                </div>
                <div *ngFor="let hand of character.hands| handType: 'stack'" class="flex-col flex-grow">
                  <app-hand-blocks [hand]="hand" [titleSize]="'w-full block text-xl bg-gray-700'"
                                   [bgStyle]="' bg-gray-800 bg-opacity-25'"
                                   [cardStyle]="'block bg-gray-800 text-white ml-4'"></app-hand-blocks>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- chat -->
      <div class="lg:w-1/4 w-full ">
        <mat-tab-group>
          <mat-tab class="bg-white text-white">
            <ng-template mat-tab-label>
              <i class="fa fa-comment mr-1"></i> Chat

            </ng-template>
            <div class="overflow-y-scroll h-full">
              <app-chat-list [chats$]="chats$" [idGame]="idGame"></app-chat-list>
            </div>
          </mat-tab>
          <mat-tab label="Toolbox">
            <div class="flex-1 flex flex-col bg-white overflow-hidden">
              <!-- Top bar -->
              <div class="border-b flex px-6 py-2 items-center flex-none">
                <div class="flex flex-col mr-1">
                  <h3 class="text-grey-darkest mb-1 font-extrabold">Tools Coming Soon</h3>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>


      </div>
    </div>
  </section>
  <ng-template #no_game>
    <section class="pt-16 pb-32">
      <h1 class="font-bold text-3xl text-white text-center"> Please return to the
        <a [routerLink]="'/home'" class="text-blue-700">home page </a>
        ; this game did not load.
      </h1>
    </section>
  </ng-template>
  <!--  <cf-footer></cf-footer>-->
</main>
