.dimit::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);

}


::ng-deep .mat-tab-list .mat-tab-labels {
  color: gray;
  background-color: bisque;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: black;
  background-color: white;
}

