<cf-navbar></cf-navbar>
<main class="h-full w-full" style="background-color: rgba(0, 0, 0, 0.8)">
  <section class="pt-16 pb-32">
    <!-- <h1 class="text-white font-semibold text-2xl mb-6">Home Page</h1> -->

    <div class="flex flex-row flex-wrap">
      <div class="md:w-3/4 w-full pr-4 ">
        <h2 class="text-gray-300 font-semibold text-3xl mt-6 mb-6 ml-6">Games</h2>
        <div class="grid md:grid-cols-2 w-full gap-3">
          <div *ngFor="let game of games$ | async">
            <app-game-card [theGame]="game"></app-game-card>
          </div>
        </div>
      </div>
      <div class="md:w-1/4 w-full">
        <h2 class="text-gray-300 font-semibold text-3xl mt-6 mb-6 ml-6">You</h2>
        <cf-user-card></cf-user-card>
      </div>
    </div>
  </section>
  <cf-footer></cf-footer>
</main>
